<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="display-2 text-center">URL Shortner</h2>
      <div class="form-group align-center">
        <form class="align-center" method="POST" action="/url">
          <input
            type="text"
            name="url"
            class="col-md-6 form-control align-center m-auto d-flex"
            placeholder="Enter Your Original URL"
          />
          <button type="submit" class="btn btn-primary d-flex mt-3 m-auto">
            Generate Short URL
          </button>
          <p><% if( locals.id ) { %>
        <p class="align-center">
          URL Generated:
          <a href="http://localhost:8000/url/<%= id %>"
            >http://localhost:8000/url/<%= id %></a
          >
        </p>
        <% } %></p>
        </form>
        <% if(locals.urls) { %>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <th>Sl. No</th>
                    <th>ShortId</th>
                    <th>Redirect</th>
                    <th>Clicks</th>
                </thead>
                <tbody>
                    <% urls.forEach((url, index) => { %>
                     <tr>
                        <th scope="row"><%= index+1 %></th>
                        <td><%= url.shortId  %></td>
                        <td><%= url.redirectURL  %></td>
                        <td><%= url.visitHistory.length  %></td>
                     </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
      </div>
    </div>
  </body>
</html>
